.aside-dashboard {
    background-color: #923e3e9a;
    min-height: calc(100vh - 50px);
}

.aside-items {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside-items>li {
    list-style: none;
}

.selectable-aside-item {
    display: flex;
    padding: 1em;
    background-color: inherit;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: none;
    width: 100%;
}

.selectable-aside-item:hover {
    background-color: #923e3e9a;
}

.aside-item-name {
    margin-left: 1em;
    font-size: 1.2em;
    color: #fff;
}