.flex-container{
    display: flex;
    align-content: center;
    overflow: hidden;
}

.signup-card{
    background-color: #973f3f;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

